{% include 'publicheader.html' %}
<!-- <link rel="stylesheet" href="/static/css/login.css" /> -->
<link rel="stylesheet" href="/static/css/css/bootstrap.min.css" />
<hr />
<form action="" method="post">
  <div class="container">
    <div>
      <label for="">username</label>
      <input type="text" name="uname" id="uname" />
    </div>

    <div>
      <label for="">password</label>
      <input type="password" name="passwd" id="upass" />
    </div>
    <hr />
    <div>
      <input type="submit" name="submit" value="submit" />
    </div>
  </div>
</form>
{% include 'footer.html' %}
